<div id="newPL" class="playlistTitle">
{{ MC.playlistName }} 
</div>
<br><br><br><br>

<div class="listsContainer">

	<div class="resultsDiv">
		<h3>Podcast Search</h3>

		<input type="text" size="30" ng-model="MC.keywordSearch">
		
		<select class="form-control" id="genre" ng-model="MC.genre">
        <option>Comedy</option>
        <option>Sports & Recreation</option>
        <option>Business</option>
        <option>Other</option>
        <option>Society & Culture</option>
        <option>Arts</option>
        <option>News & Politics</option>
        <option>Technology</option>
        <option>Education</option>
      </select>
      
      <span class="genreLabel">
		Genre: 
		</span>
      
		<button id="submitSearchBtn" ng-click="MC.submitSearch(MC.keywordSearch, MC.genre)">Search</button>

<div class="hoverPointer">
<table class="table table-hover table-striped table-bordered">
	<tr ng-repeat="podcast in MC.searchResultsFromService" ng-mouseover="MC.hoverDetail(podcast, $event)" ng-mouseleave="MC.hoverLeave()" ng-if="MC.createdPlaylist.indexOf(podcast) == -1">
		<td ng-click="MC.addToPL(podcast)">{{ podcast.title }} --- <span ng-style="(podcast.duration > (MC.userDuration - MC.playlistDurationBuilder) && MC.userDuration > 0) && {'color': '#ff3333'}">{{ podcast.duration }}</span></td>
	</tr>
</table>
</div>
	</div>
	
	<div id="podcastDetail" class="podcastDetail" ng-show="MC.detailShow" ng-style="{'left':MC.offsetLeft, 'top':MC.offsetTop}">
	
		{{ MC.detailTitle }} ---
		{{ MC.detailDuration }}
	
	</div>

	<div class="playlistDiv" ng-show="MC.createdPlaylist.length">

<span ng-show="MC.userDuration">Trip Duration: {{ MC.userDuration }}</span>
<br>
Playlist Duration: <span ng-style="(MC.playlistDurationBuilder > MC.userDuration && MC.userDuration > 0) && {'color': '#ff3333'}">{{ MC.playlistDurationBuilder }}</span>
		<h5>Playlist</h5>
<table class="table table-hover table-striped table-bordered">
			<tr ng-repeat="podcast in MC.createdPlaylist"  ng-style="podcast.loaded == true && {} || !podcasthasOwnProperty('loaded') && {'background-color': 'silver', 'opacity': '.6'}"><td><span ng-show="podcast.loaded != true" ng-style="{'color':'blue'}">Loading: </span>{{ podcast.title }} --- {{ podcast.duration }}
				<button ng-click="MC.dropSong($index, podcast)">remove</button>
				<button ng-click="MC.raiseSong($index)" ng-hide="$first">up</button>
				<button ng-click="MC.lowerSong($index)" ng-hide="$last">down</button>
			</td></tr>
</table>

<button ng-click="MC.savePlaylist()">Save Playlist</button>

	</div>
	</div>


<div class="namePopup" ng-show="MC.showNameDiv">
<h3>Name your new playlist:</h3>
<form ng-submit="MC.initializePL()" name="nameForm">
	<label for="userEmail">Playlist Name: </label>
	<input id="playlistName" type="text" ng-model="MC.playlistName" required>
	<br><br>
	<label for="userDurHours">Duration: </label>
	<input id="userDurHours" type="number" min="0" value="0" placeholder="Hours" ng-model="MC.userDurHours"> -
	<input id="userDurMinutes" type="number" min="0" value="0" placeholder="Minutes" ng-model="MC.userDurMinutes">
	<br><br>
	<input type="submit" value="Save" ng-disabled="nameForm.$invalid">
</form>
</div>

<div class="namePopupBG" ng-show="MC.showNameDiv"></div>