<h2 style="color:silver">{{ PC.playlistName }}</h2>

<div id="playlistDiv" class="row"  ng-show="PC.shown">

    <div id="listDiv" ng-show="PC.shown">
    
        <table class="table table-striped table-bordered stripeColorOdd stripeColorEven">
            
            <thead>
            <tr style="background-color: gray; color: white;">
            	<th>Title</th><th>Show</th><th>Length</th>
            </tr>
            </thead>
            
            <tbody>
                <tr ng-repeat="podcast in PC.playlist">
                    <td>{{podcast.json.name}}</td>
                    <td>{{podcast.json.show.name}}</td>
                    <td><span ng-show="podcast.json.duration > 0">{{PC.formatTime(podcast.json.duration)}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="btn-group">
    <button clear-playlist ng-if="playlist.length" class="btn btn-primary">Stop Currently Playing</button>
    <button play-all="PC.playlist" data-play="true" ng-if="playlist.length == 0" ng-click="PC.playPL()" class="btn btn-primary">Play</button>
    <button ng-click="PC.editPL()" class="btn btn-primary">Edit</button>
    <button ng-click="PC.deletePL()" class="btn btn-primary">Delete</button>
    </div>
    
</div>

<div class="deletePopup" ng-show="PC.showDeleteDiv">
	<h3>Delete Successful</h3>
	<button ng-click="PC.redirect()">OK</button>
</div>
<div class="namePopupBG" ng-show="PC.showDeleteDiv"></div>