<div class="playerDiv">
		<sound-manager></sound-manager>
		
		<ul>
                    <li ng-repeat="song in playlist">
                        <a play-from-playlist="song">{{ song.title }}</a>
                        -
                        <a remove-from-playlist="song" data-index="{{$index}}">
                            <small>(remove)</small>
                        </a>
                        <span ng-if="currentPlaying.id == song.id"> - (current)</span>
                    </li>
                </ul>

		<h5>Player</h5>

		<p>Currently Playing: {{ currentPlaying.title }} by {{
			currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration
			}})</p>
		<div class="seekBase" seek-track>
			<div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
		</div>
	</div>