<h2 style="color:silver">{{ PC.playlistName }}</h2>

<div id="playlistDiv" class="row"  ng-show="PC.shown">

    <div id="listDiv" ng-show="PC.shown">
    
        <table class="table table-striped table-bordered stripeColorOdd stripeColorEven">
            
            <tbody>
                <tr ng-repeat="podcast in PC.playlist">
                    <td>{{podcast.json.name}}</td>
                    <td>{{podcast.json.show.name}}</td>
                    <td>{{PC.formatTime(podcast.json.duration)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <button clear-playlist ng-if="playlist.length">Stop Currently Playing</button>
    <button play-all="PC.playlist" data-play="true" ng-if="playlist.length == 0" ng-click="PC.playPL()">Play</button>
    <button ng-click="PC.editPL()">Edit</button>
    <button ng-click="PC.deletePL()">Delete</button>
    
</div>
<!--
<div id="playerDiv" ng-hide="PC.shown">
		<sound-manager></sound-manager>
		
<table class="table table-striped table-bordered  stripeColorOdd stripeColorEven">
	<tbody>
		<tr ng-repeat="song in playlist">
			<td><a play-from-playlist="song">{{song.title}} <span ng-if="currentPlaying.id == song.id"> - (current)</a></td>
            <td>{{song.artist}}</td>
            <td>{{song.duration }}</td>
		</tr>
	</tbody>
</table>
</div>
-->