<!DOCTYPE html>

<script src="/vendor/angular.min.js"></script>

<html ng-app="login">

<head>
<title>Login</title>
</head>

<body ng-controller="LoginController as LC">
    <header>
        <h1>Login</h1>
    </header>

<form ng-submit="LC.login()" name="MyForm">
	<label for="userEmail">Email: </label>
	<input id="userEmail" type="text" ng-model="LC.userEmail" required>
	<br>
	<label for="userPW">Password: </label>
	<input id="userPW" type="text" ng-model="LC.userPW" required>
	<br>
	<input type="submit" value="Login" ng-disabled="MyForm.$invalid">
</form>

<script>
angular.module('login', []).controller('LoginController', function($http) {
	
	var controller = this;
	
	controller.userEmail = "";
	controller.userPW = "";
	
	controller.login = function(){
	
	$http({
	    method: "POST",
	    url : "/podcasts/login",
	    dataType : "json",
	    data: {
            "user" : this.userEmail,
            "pass" : this.userPW
        }
	}).success(function(reponse) {
		console.log(reponse);
		console.log(controller.userEmail + " - " + controller.userPW);
	}).error(function(reponse) {
		console.log("failed: " + reponse);
	})
		
	}
		
	
});
</script>

</body>

</html>