.resultsDiv {
	display: block;
	float: right;
	width: 50%;
}

.playlistDiv {
	display: block;
	float: left;
	width: 50%;
}

.hoverPointer{
	cursor: pointer;
}

li {
	display: block;
}

.playlistDiv ul {
	border: black solid 2px;
}

.playlistDiv li {
	border: black dotted 1px;
}

.seekBase {
  height: 30px;
  width: 90%;
  border: 1px solid #cccccc;
}
.seekLoad {
	height: 30px;
  width: 0;
  background-color: #E0EAF1;
}

.podcastDetail{
	display: block;
	position: absolute;
	width: 500px;
	height: 30px;
	z-index: 1000;
	background-color: white;
	border: black solid 2px;
	text-align: right;
}

.playlistTitle{
	display: block;
	font-size: 3em;
	width: 100%;
	text-align: center;
}

.namePL{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1001;
	background-color: white;
	text-align: center;
}