.resultsDiv {
	display: block;
	float: left;
	width: 45%;
}

.playlistDiv {
	display: block;
	
	float: right;
	width: 45%;
}

.hoverPointer{
	cursor: pointer;
}

li {
	display: block;
}

.playlistDiv ul {
	border: black solid 2px;
}

.playlistDiv li {
	border: black dotted 1px;
}

.seekBase {
  height: 30px;
  width: 90%;
  border: 1px solid #cccccc;
}
.seekLoad {
	height: 30px;
  width: 0;
  background-color: #E0EAF1;
}

.podcastDetail{
	display: block;
	position: absolute;
	width: 500px;
	z-index: 1000;
	background-color: white;
	border: black solid 2px;
}

.playlistTitle{
	display: block;
	font-size: 3em;
	width: 100%;
	text-align: center;
}

.namePopup{
	display: block;
	position: fixed;
	top: 30%;
	left: 25%;
	width: 50%;
	z-index: 2001;
	background-color: white;
	border: black solid 2px;
	text-align: center;
	padding: 30px;
	margin: 30px;
}

.namePopupBG{
	display: block;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 2000;
	background-color: gray;
	opacity: .7;
}

input[type=number]{
    width: 70px;
} 

.container{
	width: 95%;
}

.form-control{
	width: 40%;
	float: right;
}

.genreLabel{
	float: right;
	font-size: large;
}